.services__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.service {
  background: var(--color-br-variant-obj);
  border-radius: 2rem;
  height: fit-content;
  transition: var(--transition);
  height: auto;
}

.service:hover {
  background: var(--color-br-variant);
  border-color: var(--color-br-variant);
  cursor: default;
}

.service__head {
  background: var(--color-br-variant-2);
  border-radius: 2rem 2rem 0 0;
  display: flex;
  align-items: center;
  height: 120px;
}

.service__head-logo {
  background: var(--color-service-logo);
  width: 185px;
  height: 100%;
  padding: 0.5rem;
  border-radius: 2rem 0 2rem 0;
  display: flex;
  align-items: center;
}

.service__head-logo > img {
  height: 35px;
  object-fit: contain;
}

.bosonit-logo {
  margin-top: -5px;
  height: 25px !important;
}

.service__head-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  text-align: center;
  padding: 0 1rem;
}

.service__head-text > h3 {
  font-size: 1.3rem;
  font-weight: 700;
}


.service__head-text > h5 {
  font-size: 1rem;
  color: var(--color-light);
}

.service__list {
  padding: 2rem 2rem 1rem 2rem;
}

.service__list-description {
  margin-bottom: 2.5rem;
  font-size: 1rem;
}

.service__list li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.service__list-icon {
  color: var(--color-primary);
  margin-top: 4px;
  font-size: 1.3rem;
}

.service__list p {
  font-size: 1.1rem;
}

.service__inside-title {
  margin: 1rem 0 1rem 2rem;
  color: var(--color-light);
  font-size: 1rem;
}

.service__apatitude-list {
  display: ruby-text;
  padding: 0 2rem 2rem 2rem;
  gap: 1rem;
}

.service__apatitude {
  padding: 0.5rem 1rem;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin: 0.4rem;
}

.service__aptittude-icon {
  width: 20px;
  margin-right: 0.5rem;
}

.minus {
  color: white;
}

@media screen and (max-width: 1460px) {
  .services__container {
    grid-template-columns: 1fr;
  }
}

/* ===== MEDIA QUERIES -> Medium Devices ===== */
@media screen and (max-width: 1024px) {
  .service__list {
    padding: 5% 15% 5% 15%;
  }
  .service__head-text > h3 {
    font-size: 1.2rem;
  }
  .service__head-text > h5 {
    font-size: 0.8rem;
  }
  .service__list-description {
    font-size: 0.9rem;
  }
  .service__list p {
    font-size: 1rem;
  }
  .service__inside-title {
    font-size: 0.9rem;
  }
}

/* ===== MEDIA QUERIES -> Small Devices ===== */
@media screen and (max-width: 600px) {
  .services__container {
    gap: 1.5rem;
  }
}
