
/* .btn1 {
  border: none;
  width: 255px;
  border-radius: 0.5rem;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: var(--color-br-variant-obj);
  padding: 17px;
  box-shadow: 0px 0px 20px var(--color-br-variant);
}

.btn1 span {
  position: relative;
  z-index: 1;
}

.btn1:after {
  content: "";
  position: absolute;
  border-radius: 100%;
  left: 0;
  top: 0;
  height: 700%;
  width: 170%;
  background: radial-gradient(circle, var(--color-primary) 50%, transparent 70%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(30%) translateY(-5%) rotate(45deg);
}

.btn1:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-25%) translateY(-50%) rotate(45deg);
}

.icon {
  font-size: 1.5rem;
  margin-left: 1rem;
  padding-top: 0.1rem;
  color: #fff;
} */
