.testimonials__container {
  width: 50%;
  padding-bottom: 4rem;
}

.client__avatar {
  width: 4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.4rem solid var(--color-primary-variant);
}

.testimonial {
  background: var(--color-br-variant);
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
}

.client__review {
  color: var(--color-light);
  font-weight: 300;
  display: block;
  width: 80%;
  margin: 0.8rem auto 0;
}

.swiper-slide {
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: #BA4716;
}

.swiper-slide:nth-child(2n) {
  background-color: #171e70;
}

.swiper-slide:nth-child(3n) {
  background-color: #A1021C;
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

/* ===== MEDIA QUERIES -> Medium Devices ===== */
@media screen and (max-width: 1024px) {
  .container.testimonials__container {
    width: 50%;
  }
}

/* ===== MEDIA QUERIES -> Small Devices ===== */
@media screen and (max-width: 600px) {
  .container.testimonials__container {
    width: 70%;
  }
  .client__review {
    width: var(--container-wisth-sm);
  }
}
